
<tr>
	<td><%= f.text_field :firstName %></td>
	<td><%= f.text_field :lastName %></td>
	<td><%= f.text_field :role %></td>
	<td><%= f.text_field :phone %></td>
	<td><%= f.text_field :ext %></td>
	<td><%= f.text_field :fax %></td>
	<td><%= f.text_field :cellPhone %></td>
	<td><%= f.text_field :email %></td>
	<td><%= f.text_field :responsible %></td>
	<td><%= f.hidden_field :_destroy %><%= link_to "Remove", '#', class: "remove_fields", :onclick => "$(this).find('input:hidden');
		$(this).closest('tr').hide();
		return false;" %></td>
</tr>