  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h3></h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-3 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <%= f.label "שם מפעל" %>
              <%= f.text_field :name, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.label "מס צרכן" %>
              <%= f.text_field :clientNumber, {:class => 'form-control'} %>
            </div>
            <div>
               <%= f.label :photo, "Photo" %>
                <%= f.file_field :photo %>
                <%= if @factory.photo.exists? then image_tag @factory.photo.url(:large) end%>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <i class="icon-calendar"></i>
            <h3 class="panel-title">נתונים כלליים</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= f.label "סקטור" %>
              <%=  select(:factory, :sectorId, Sector.find(:all, :order=>:name).collect{ |c| [c.name,c.id]} , {}, {:class => "form-control", :"data-native-menu" => "false"}) %>
            </div>
            <div class="form-group">
              <%= f.label 'מט"ש' %>
              <%=  select(:factory, :sewageFarmId, SewageFarm.find(:all, :order=>:name).collect{ |c| [c.name,c.id]} , {}, {:class => "form-control", :"data-native-menu" => "false"}) %>
            </div>
            <div class="form-group">
              <%= f.label "ספק מים" %>
              <%=  select(:factory, :waterSupplierId, WaterSupplier.find(:all, :order=>:name).collect{ |c| [c.name,c.id]} , {}, {:class => "form-control", :"data-native-menu" => "false"}) %>
            </div>
            <div class="form-group">
              <%= f.label "סטטוס" %>  
              <%= f.check_box :isActive %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <i class="icon-calendar"></i>
            <h3 class="panel-title">כתובות מפעל</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= f.fields_for :address do |builder| %>
                <%= render 'address', f: builder %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

<div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <i class="icon-calendar"></i>
            <h3 class="panel-title">כתובת למשלוח דואר</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= f.fields_for :shipping_address do |builder| %>
                <%= render 'address', f: builder %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>