<table class="table table-condensed table-striped table-bordered table-hover no-margin">
	<thead>
		<tr>
			<th>תאור</th>
			<th>שם</th>
			<th>סוג</th>
			<th>משקל</th>
			<th>תאריך הוספה</th>
			<th>תאריך שינוי</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>תמונת מפעל</td>
			<td><%= link_to File.basename(f.object.photo_file_name), "#" %></td>
			<td><%= f.label f.object.photo_content_type %></td>
			<td><%= f.label f.object.photo_file_size %></td>
			<td><%= f.label f.object.photo_updated_at %></td>
			<td><%= f.label f.object.photo_updated_at %></td>
		</tr>
		<tr>
			<td>מפת מפעל</td>
			<td><%= link_to File.basename(f.object.map_file_name), "#" %></td>
			<td><%= f.label f.object.map_content_type %></td>
			<td><%= f.label f.object.map_file_size %></td>
			<td><%= f.label f.object.map_updated_at %></td>
			<td><%= f.label f.object.map_updated_at %></td>
		</tr>

		<%@factory.pits.each do |pit|  unless pit.photo_file_name.nil?%>
			<tr>
				<td>תמונת שוחה <%= pit.name %></td>
				<td><%= link_to File.basename(pit.photo_file_name), "#" %></td>
				<td><%= f.label pit.photo_content_type %></td>
				<td><%= f.label pit.photo_file_size %></td>
				<td><%= f.label pit.photo_updated_at %></td>
				<td><%= f.label pit.photo_updated_at %></td>
			</tr>
			<% end -%>
		<% end -%>

		<%@factory.water_counters.each do |wc|  unless wc.photo_file_name.nil?%>
			<tr>
				<td>תמונת מונה מים <%= wc.id %></td>
				<td><%= link_to File.basename(wc.photo_file_name), "#" %></td>
				<td><%= f.label wc.photo_content_type %></td>
				<td><%= f.label wc.photo_file_size %></td>
				<td><%= f.label wc.photo_updated_at %></td>
				<td><%= f.label wc.photo_updated_at %></td>
			</tr>
			<% end -%>
		<% end -%>
	</tbody>
</table>  