
<tr>
	<td><%= f.text_field :name %></td>
	<td><%= f.collection_select :pit_type_id, PitType.all, :id, :name, {}, {} %></td>
	<td>
        <%= f.file_field :photo %>
        <%= if f.object.photo.exists? then image_tag f.object.photo.url end%>
    </td>
	<td><%= f.text_field :description %></td>
	<td><%= f.text_field :coordinate %></td>
	<td><%= f.text_field :scheduled_short_sampling %></td>
	<td><%= f.text_field :scheduled_complex_sampling %></td>
	<td><%= f.hidden_field :_destroy %><%= link_to "Remove", '#', class: "remove_fields" %></td>
</tr>