<%= form_for(@digom) do |f| %>
  <% if @digom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@digom.errors.count, "error") %> prohibited this digom from being saved:</h2>

      <ul>
      <% @digom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="field">
    <%= f.label t('corporation')  %><br>
    <%=  select(:digom, :corp, Corporate.find(:all, :order=>:name).collect{ |c| [c.name,c.name]} , {}, {:"data-native-menu" => "false"}) %>
  </div>
  <div class="field">
    <%= f.label t 'factory' %><br>
    <%=  select(:digom, :factory, Factory.find(:all, :order=>:name).collect{ |c| [c.name,c.name]} , {}, {:"data-native-menu" => "false"}) %>
  </div>

  <div class="field">
    <%= f.label t 'sampling_date' %><br>
    <%= f.date_field :d_date  %>
  </div>

<div class="field">
    <%= f.label t 'sampling_time' %><br>
    <%= f.time_field :t_time  %>
  </div>

  

  <div class="field">
    <%= f.label t 'counter_call' %><br>
    <%= f.text_field :counter_call %>
  </div>
  <div class="field">
    <%= f.label t 'presents' %><br>
    <%= f.text_field :persents %>
  </div>

  <div class="field">
    <%= f.label t 'num_of_flows' %><br>
    <%= f.number_field :numOfFlows %>
  </div>
  <div class="field">
    <%= f.label t 'flow_type' %><br>
    <%= f.text_field :flowType %>
  </div>  
  <div class="field">
    <%= f.label t 'notes' %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label t 'lab' %><br>
    <%= f.text_field :lab %>
  </div>
  <div class="field">
    <%= f.label t 'sampler_name' %><br>
    <%= f.text_field :samplerName %>
  </div>
  <div class="field">
    <%= f.label t 'parameters' %><br>
    <%= f.text_field :parameters %>
  </div>
   <div class="field">
    <%= f.label t 'conductivity' %><br>
    <%= f.text_field :conductivity %>
  </div>

  <div class="field">
    <%= f.label t 'ph' %><br>
    <%= f.text_field :PH %>
  </div>
  
 <div class="field">
    <%= f.label t 'executed' %><br>
    <%= f.check_box :executed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
