<%= form_for(@digom) do |f| %>
  <% if @digom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@digom.errors.count, "error") %> prohibited this digom from being saved:</h2>

      <ul>
      <% @digom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :"שם דיגום" %><br>
    <%= f.text_field :digomId %>
  </div>
  <div class="field">
    <%= f.label :תאגיד %><br>
    <%= f.text_field :corp %>
  </div>
  <div class="field">
    <%= f.label :מפעל %><br>
    <%= f.text_field :factory %>
  </div>
  <div class="field">
    <%= f.label :נוכחים %><br>
    <%= f.text_field :persents %>
  </div>
  <div class="field">
    <%= f.label :"כמות זרמים" %><br>
    <%= f.number_field :numOfFlows %>
  </div>
  <div class="field">
    <%= f.label :"אופי זרמים" %><br>
    <%= f.text_field :flowType %>
  </div>
  <div class="field">
    <%= f.label :הערות %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :מעבדה %><br>
    <%= f.text_field :lab %>
  </div>
  <div class="field">
    <%= f.label :"שם דוגם" %><br>
    <%= f.text_field :samplerName %>
  </div>
  <div class="field">
    <%= f.label :פרמטרים %><br>
    <%= f.text_field :parameters %>
  </div>
  <div class="field">
    <%= f.label :"לא בוצע דיגום" %><br>
    <%= f.check_box :executed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
