<div data-role="header">
  <h1><%= @digom.digomId %></h1>
  <%= link_to t('home'), digoms_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">

<p>
  <strong><%=t('digomId') + ":"%></strong>
  <%= @digom.digomId %>
</p>

<p>
  <strong><%=t('corporation') + ":"%></strong>
  <%= @digom.corp %>
</p>

<p>
  <strong><%=t('factory') + ":"%></strong>
  <%= @digom.factory %>
</p>

<p>
  <strong><%=t('sampling_date') + ":"%></strong>
  <%= @digom.d_date %>
</p>

<p>
  <strong><%=t('sampling_time') + ":"%></strong>
  <%= @digom.t_time.strftime('%H:%M') %>

</p>

<p>
  <strong><%=t('presents') + ":"%></strong>
  <%= @digom.persents %>
</p>

<p>
  <strong><%=t('num_of_flows') + ":"%></strong>
  <%= @digom.numOfFlows %>
</p>

<p>
  <strong><%=t('flow_type') + ":"%></strong>
  <%= @digom.flowType %>
</p>

<p>
  <strong><%=t('notes') + ":"%></strong>
  <%= @digom.notes %>
</p>

<p>
  <strong><%=t('lab') + ":"%></strong>
  <%= @digom.lab %>
</p>

<p>
  <strong><%=t('sampler_name') + ":"%></strong>
  <%= @digom.samplerName %>
</p>

<p>
  <strong><%=t('parameters') + ":"%></strong>
  <%= @digom.parameters %>
</p>

<p>
  <strong><%=t('conductivity') + ":"%></strong>
  <%= @digom.conductivity %>
</p>

<p>
  <strong><%=t('ph') + ":"%></strong>
  <%= @digom.PH %>
</p>

<p>
  <strong><%=t('executed') + ":"%></strong>
  <%= @digom.executed %>
</p>
</div>
