<div data-role="header">
  <h1><%= @digom.corp %></h1>
  <%= link_to 'Home', digoms_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
<p>
  <strong>Corp:</strong>
  <%= @digom.corp %>
</p>

<p>
  <strong>Factory:</strong>
  <%= @digom.factory %>
</p>

<p>
  <strong>Persents:</strong>
  <%= @digom.persents %>
</p>

<p>
  <strong>Numofflows:</strong>
  <%= @digom.numOfFlows %>
</p>

<p>
  <strong>Flowtype:</strong>
  <%= @digom.flowType %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @digom.notes %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @digom.lab %>
</p>

<p>
  <strong>Samplername:</strong>
  <%= @digom.samplerName %>
</p>

<p>
  <strong>Parameters:</strong>
  <%= @digom.parameters %>
</p>

<p>
  <strong>Executed:</strong>
  <%= @digom.executed %>
</p>

</div>


