<!DOCTYPE html>
<html>
<head>
  <title>Kando</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %> 
  
  <!-- % if is_mobile_device? % -->
    <%= stylesheet_link_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.css", :media => "all" %>
    <%= javascript_include_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.js"%>
  <!-- %end% -->
  
  <%= csrf_meta_tags %>
</head>

<body>
  <div data-role="page">
    <%= yield %>
  </div>
</body>

</html>
